ZStack-2.5.1a-R/Projects/zstack/Samples/SampleApp/CC2530DB/CoordinatorEB/
ZStack-2.5.1a-R/Projects/zstack/Samples/SampleApp/CC2530DB/SampleApp.dep
ZStack-2.5.1a-R/Projects/zstack/Samples/SampleApp/CC2530DB/settings/
